@use "./modulebanner";
@use "./reset";
@use "./mixins" as *;


html {
  height: 100vh;

  font-family: system-ui, ui-sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

body {
  display: flex;
  height: 100%;
}


#root {
  display: grid;
  grid-template: 70px 1fr / 260px 1fr;
  width: 100%;
}


$aside-margin: 2rem;

.title {
  & {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    padding: 0 $aside-margin;
    border-right: 1px solid #ddd;

    font-size: 1.2rem;
    font-weight: 600;
  }

  &-svg {
    width: 28px;
    aspect-ratio: 1;
  }
}


.aside {
  & {
    padding: 2rem 0;
    border-right: 1px solid #ddd;
  }

  > .list {
    margin-top: 1rem;

    > .item {
      > .item-link {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        font-weight: 500;
      }

      .item .item-link {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        &._active {
          color: #0074d9;
          font-weight: 500;
        }
      }

      &._open {
        background-color: #f6f8fa;
      }
    }
  }

  .item-link {
    padding-left: $aside-margin;
    padding-right: $aside-margin;
  }
}

.product {
  & {
    padding: 0 $aside-margin;
  }

  &-back {
    font-size: 0.9rem;

    &::before {
      content: "â† ";
    }
  }

  &-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
}


.bar {
  & {
    display: flex;
    align-items: center;

    padding: 0 3rem;
    border-bottom: 1px solid #ddd;
  }

  &-current {
    display: flex;
    column-gap: 1rem;

    .item {
      display: flex;
      column-gap: 1rem;

      min-width: 0;
    }

    .item:not(:last-child)::after {
      content: "/";
      color: #666;
    }

    .item-link {
      @include text-ellipsis();

      color: #0074d9;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.center {
  & {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: auto 240px;

    padding: 3rem;
    overflow-y: auto;
  }
}

.main {
  & {
    max-width: 800px;
  }


  // General

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-family: Inter;
    font-weight: 700;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    margin: 2rem 0 1rem 0;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid #ddd;

    font-size: 1.7rem;
    font-weight: 600;
  }

  > p {
    margin: 1em 0;

    line-height: 1.5;
    text-align: justify;
  }

  .lead {
    margin: 0.4rem 0;
    max-width: 700px;

    color: #666;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: start;
  }

  blockquote {
    margin: 1rem 0;
    padding: 0.6rem 0 0.6rem 1rem;

    border-left: 6px solid #eee;
    color: #333;
  }


  // Code

  pre {
    margin: 1em 0;
    padding: 1em 1.6em;

    background-color: #f6f8fa;
    border-radius: 4px;

    overflow-x: auto;
  }

  code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 0.9em;

    &.hljs {
      overflow: unset;
      padding: unset;
      background-color: unset;
    }
  }

  pre code {
    display: block;
  }

  :is(p, li, td) code {
    padding: 0.2em 0.4em;
    background-color: #eee;
    border-radius: 4px;
  }


  // Lists

  ol, ul {
    margin: 1em 0;
    padding-left: 2em;

    ol, ul {
      margin: 0.4em 0;
    }
  }

  li {
    display: list-item;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  li + li {
    margin-top: 0.2em;
  }


  // Links

  :is(p, li) a {
    display: inline;

    color: #0074d9;
    text-decoration: underline;
    text-underline-offset: 2px;
  }


  // Tables

  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 0.4rem 1rem 0.4rem 0;
  }

  th {
    border-bottom: 1px solid #eee;

    color: #666;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  td {
    border-bottom: 1px solid #eee;
  }
}

.toc {
  display: none;

  &-title {
    margin-bottom: 0.4rem;
    font-weight: 500;
  }

  .item-link {
    width: fit-content;
    color: #0074d9;

    &:hover {
      text-decoration: underline;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  .item .list {
    margin-left: 1rem;
  }
}
